HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
./node_modules
server/src/main/react-gui/node_modules/*
server/src/main/react-gui/yarn.lock
nohup.out
.attach_pid*
server/src/main/react-gui/yarn-error.log
log/*
springBoot.mv.db
